# Configuración de Base de Datos PostgreSQL
DB_USER=tu_usuario
DB_HOST=localhost
DB_NAME=hmi_data
DB_PASSWORD=tu_contraseña
DB_PORT=5432

# Puerto del servidor (Vercel lo asigna automáticamente)
PORT=3000

# Entorno de ejecución
NODE_ENV=development
